label {
    display: block;
    margin-bottom: 2px;
}

.input-container {
    margin: 3rem auto;
    width: fit-content;
    height: fit-content;
    background-color: var(--st-background-grey);
    padding: 1rem;
    border: 2px solid grey;
}

.input-group {
    width: 50vh;
}

.input-group input {
    background: var(--st-white);
    border: 1px solid var(--st-dark-gray);
    padding: 0.6rem 0.7rem;
    font-size: .8rem;
    margin: 5px 0;
    width: 100%;
    outline: none;
    border-radius: 2px;
}

.input-error {
    color: var(--st-span-text);
}

#error-ip {
    border: 2px solid var(--st-span-text)
}

.input-success {
    color: var(--success-color);
    background-color: transparent;
}

#success-ip {
    border: 2px solid var(--success-color)
}

.checkbox-ip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%
}

.checkbox-ip input {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 5px;
    background: var(--st-dark-gray);
    outline: none;
}

.slideContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}