.container {
    margin: 3rem auto;
    width:clamp(15rem,20rem,25rem);
    height:clamp(2.5rem,5rem,10rem);
    background-color: var(--st-background-grey);
    border: 2px solid grey;
}
.big-container{
    margin: 3rem auto;
    width:clamp(20rem,40rem,60rem);
    height:clamp(10rem,18rem,30rem);
    background-color: var(--st-background-grey);
    border: 2px solid grey;
}

.padding-between {
    padding: 0.5rem;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-round {
    border-radius: 50%;
}

.img-square {
    border-radius: 10%;
}