:root {
    --st-primary-color: #18314F;
    --st-primary-hover: #0D0630;
    --st-primary-disabled: #384E77;
    --st-secondary-color: #66d4ff;
    --st-secondary-hover: #368cad;
    --st-secondary-disabled: #b1dff1;
    --st-background-grey: hsl(280, 5%, 88%);
    --st-dark-gray:rgb(117, 112, 112);
    --st-span-text: hsl(348, 100%, 52%);
    --st-success-bg: hsl(148, 54%, 60%);
    --st-green: hsl(147, 54%, 12%);
    --st-danger-bg: hsl(0, 100%, 68%);
    --st-red: hsl(0, 100%, 36%);
    --st-warning-bg: hsl(22, 85%, 72%);
    --st-orange: hsl(22, 85%, 48%);
    --st-brown: hsl(30, 100%, 29%);
    --st-black: hsl(0, 0%, 0%);
    --st-white: hsl(0, 0%, 100%);
    --st-header-text: 'Abril Fatface', cursive;
    --st-subheader-text: 'Bai Jamjuree', sans-serif;
    --st-body-text: 'Nunito Sans', sans-serif;  
}